<div class="container mt-4">
  <div class="card-header text-center">
    <h2 class="mb-0">Menu</h2>
  </div>

  <div class="container mt-4">
    <div class="card">
      <div class="card-header bg-primary white-color-001">
        <h2>Produtos</h2>
      </div>

      <div class="card-body">
        <button type="button" class="btn btn-primary button-size-001 me-2 " routerLink="/products">
          Lista de produtos
        </button>

        <button type="button" class="btn btn-success white-color-001 button-size-001 me-2" routerLink="/products/new">
          Novo produto
        </button>
      </div>
    </div>
  </div>
</div>
