<div class="container mt-4">
  <h2>Lisa de produtos</h2>

  <div class="d-flex gap-2">
    <button routerLink="/products/new" class="btn btn-success">
      Novo produto
    </button>
    <button routerLink="/products/principal" class="btn btn-primary">
      Menu
    </button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 25%">ID</th>
        <th style="width: 45%">Nome</th>
        <th style="width: 15%">Preço</th>
        <th style="width: 15%">Ações</th>
      </tr>
    </thead>
    <tbody class="align-middle">
      @for (product of (products$ | async); track product.idProduct) {
        <tr>
          <td class="text-nowrap">
            <code class="text-dark me-2">{{ product.idProduct }}</code>
            <button
              class="btn btn-sm btn-outline-secondary border-0"
              (click)="copyToClipboard(product.idProduct)"
              title="Copiar Código">
              <i class="bi bi-clipboard"></i>
            </button>
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.value | currency:'BRL' }}</td>
          <td>
            <div class="d-flex gap-2">
              <a *ngIf="product._links?.self"
                [href]="product._links?.self?.href"
                target="_blank"
                class="btn btn-info me-2 text-white">
                Detalhes (API)
              </a>

              <button [routerLink]="['/products/edit', product.idProduct]" class="btn btn-primary me-2">
                Editar
              </button>
              <button (click)="deleteProduct(product.idProduct)" class="btn btn-danger me-2">
                Excluir
              </button>
            </div>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4" class="text-center">Nenhum produto encontrado.</td>
        </tr>
      }
    </tbody>
  </table>
  <div class="d-flex justify-content-center mt-3">
    <mat-paginator
      [length]="totalElements"
      [pageSize]="pageSize"
      [pageIndex]="pageState$.value.index"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="handlePageEvent($event)"
      showFirstLastButtons
      aria-label="Selecionar página">
    </mat-paginator>
  </div>
</div>
