// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */

.button-list-color-mine-001 {
  background-color: #33bbff;
  color: #000;
}

.button-list-color-mine-001:hover {
  background-color: #33bbff !important;
  color: #000 !important;
}

.button-new-color-mine-001 {
  background-color: #00cc00;
  color: #000;
}

.button-new-color-mine-001:hover {
  background-color: #00cc00 !important;
  color: #000 !important;
}

.table-hover-mine-001 tbody tr:hover td {
  background-color: #BDBDBD !important;
  transition: background-color 0.2s ease;
  color: #000;
  font-weight: 600;
}

.snack-success {
  .mdc-snackbar__surface {
    background-color: #04a704 !important;
  }
}

.snack-error {
  .mdc-snackbar__surface {
    background-color: #a52834 !important;
  }
}

.snack-success, .snack-error {
  .mdc-snackbar__label {
    color: #ffffff !important;
    text-align: center !important;
    flex-grow: 1;
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  .mdc-snackbar__action {
    button {
      color: #dc3545 !important;
    }

    display: flex;
    justify-content: center;
    background-color: #dc3545 !important;
    border-radius: 5px !important;
  }

  .mdc-button__label {
    color: #ffffff !important;
  }
}

.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
    --mat-button-text-state-layer-color: #000 !important;
    --mat-button-text-ripple-color: #000 !important;
}
